<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024144199606-2rqk5ll56gjic8bgj9h3l12bkmgh98ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024144199606-2rqk5ll56gjic8bgj9h3l12bkmgh98ud</string>
	<key>API_KEY</key>
	<string>AIzaSyBBYj15fIC-cYGnInSTQ_XQpv3YNixwrH4</string>
	<key>GCM_SENDER_ID</key>
	<string>1024144199606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.capgemini.ShoppingAppSprint</string>
	<key>PROJECT_ID</key>
	<string>fir-authentication-d4bbb</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authentication-d4bbb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024144199606:ios:c474c9d35d8cbe36d37b17</string>
</dict>
</plist>